<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2015 Netherlands Forensic Institute

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
-->


<configuration scan="true">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %logger - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="ApplicationLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>another2_%d{yyyy-MM-dd}.log.gz</fileNamePattern>
 
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d [%thread] %level %logger - %m%n</pattern>
        </encoder>
    </appender>
    
    <appender name="BatchLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>another_batch_%d{yyyy-MM}.log.gz</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <pattern>%d - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="CaseLog" class="ch.qos.logback.core.FileAppender">
        <file>smartrank-case.log</file>
        <encoder>
            <pattern>%m%n</pattern>
        </encoder>
    </appender>
    
    <logger name="CaseLogger" level="info" additivity="false">
        <appender-ref ref="CaseLog"/>
    </logger>
    
    <logger name="BatchLogger" level="info" additivity="false">
        <appender-ref ref="BatchLog"/>
    </logger>
    
    <logger name="nl.minvenj.nfi.smartrank.SmartRankManager" level="trace"/>

    <!--<logger name="nl.minvenj.nfi.smartrank.io.databases.jdbc.JDBCReader" level="trace" />-->
    <!--<logger name="nl.minvenj.nfi.smartrank.raven" level="debug"/>-->
    <!--<logger name="nl.minvenj.nfi.smartrank.raven.messages.conversion.Conversions" additivity="false" level="fatal"/>-->
    <!--<logger name="nl.minvenj.nfi.smartrank.gui" level="trace"/>-->

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ApplicationLog"/>
    </root>
</configuration>
